VITE_AWS_REGION=us-east-1
VITE_USER_POOL_ID=us-east-1_REPLACE_ME
VITE_USER_POOL_CLIENT_ID=REPLACE_ME
VITE_REFINE_QUERY_URL=https://REPLACE_ME.lambda-url.us-east-1.on.aws/
VITE_EXTRACT_PASTED_CONTENT_URL=https://REPLACE_ME.lambda-url.us-east-1.on.aws/
VITE_UPSERT_PROFILE_URL=https://REPLACE_ME.lambda-url.us-east-1.on.aws/
VITE_GET_OPPORTUNITIES_URL=https://REPLACE_ME.lambda-url.us-east-1.on.aws/
VITE_UPDATE_STAGE_URL=https://REPLACE_ME.lambda-url.us-east-1.on.aws/
